<div class="fluid-container">
    <div class="row">
        <div class="col-md-2">
            <button class="simple" routerLink="/periodic-sale-analysis" style="padding-top: 0;">Periodic Sale Analysis</button>
        </div>
        <div class="col-md-2">
            <button class="simple" routerLink="/festival-analysis">Festival Analysis</button>
        </div>
        <div class="col-md-2">
            <button class="simple" routerLink="/discount-bills">Discount Bills</button>
        </div>
        <div class="col-md-2">
            <button class="simple" routerLink="/monthly-sale-analysis" style="padding-top: 0;">Monthly Sale Analysis</button>
        </div>
        <div class="col-md-2">
            <button class="simple" (click)="settitle('sale')" routerLink="/purchase-reg-billwise/2" id="2" style="padding-top: 0;">Sale Reg Billwise</button>
        </div>
        <div class="col-md-2">
            <button class="simple" routerLink="/sale-reg-detailed" style="padding-top: 0;">Sale Reg Detailed</button>
        </div>
    </div>
</div>