<div class="fluid-container">
    <div class="row">
        <!-- <div class="col-md-10">
            <div class="row">
            <div class="col-md-6 head">
            <h2><b>Ledger</b></h2>
        </div>
        <label for="" class="control-label col-md-2" style="margin-left: -40px!important;padding-top: 5px!important;margin-left: 20px!important;">A/c Name</label>
            <div class="col-md-4" style="margin-left: -50px!important;">
                <input type="text" class="form-control">
            </div>
    </div>
    <div class="row">
            <label for="" class="control-label col-md-1" style="margin-right: -20px!important;padding-top: 5px;">From</label>
            <div class="col-md-2">
                <input type="date" class="form-control">
            </div>
            <label for="" class="control-label col-md-1" style="padding-top: 5px;">To</label>
            <div class="col-md-2" style="margin-left:-20px">
                <input type="date" class="form-control">
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <input type="text" class="form-control" style="height: 60px!important;margin-top: -10px!important;margin-left: 10px!important;">
            </div>
        </div>

        <div class="row" style="align-items: center;justify-content: center;justify-items: center;">
        <div class="col-md-2">
            <table  class="table table-striped table-bordered table-sm row-border hover" style="margin-top: 20px;border-right: none;">
                <thead>
                  <tr style="font-size: 11px;text-align: center;">
                    <th>Month</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Opening Balance</td>
                        
                    </tr>
                <tr>
                    <td>April</td>
                    
                </tr>
                <tr>
                    <td>May</td>
                    
                </tr>
                <tr>
                    <td>June</td>
                    
                </tr>
                <tr>
                    <td>July</td>
                    
                </tr>
                <tr>
                    <td>August</td>
                    
                </tr>
                <tr>
                    <td>September</td>
                    
                </tr>
                <tr>
                    <td>October</td>
                    
                </tr>
                <tr>
                    <td>November</td>
                    
                </tr>
                <tr>
                    <td>December</td>
                    
                </tr>
                <tr>
                    <td>January</td>
                    
                </tr>
                <tr>
                    <td>February</td>
                    
                </tr>
                <tr>
                    <td>March</td>
                    
                </tr>
                

            </tbody>
                </table>
            </div>
                <div class="col-md-10">
                <table  class="table table-striped table-bordered table-sm row-border hover" style="margin-top: 20px;border-left: none;margin-left: -25px!important; width: 100%!important;">
                    <thead>
                      <tr style="font-size: 11px;text-align: center;">
                        <th>Debits</th>
                        <th>Credits</th>
                        <th>Month Difference</th>
                        <th>Closing Ball(Dr)</th>
                        <th>Closing Ball(Cr)</th>
                        
                        
            
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Opening Balance</td>
                            <td>Opening Balance</td>
                            <td>Opening Balance</td>
                            <td>Opening Balance</td>
                            <td>Opening Balance</td>
                        </tr>
                    <tr>
                        <td>Opening Balance</td>
                        <td>Opening Balance</td>
                        <td>Opening Balance</td>
                        <td>Opening Balance</td>
                        <td>Opening Balance</td>
                        
                    </tr>
                    <tr>
                        <td>Opening Balance</td>
                        <td>Opening Balance</td>
                        <td>Opening Balance</td>
                        <td>Opening Balance</td>
                        <td>Opening Balance</td>
                    </tr>
                    <tr>
                        <td>June</td>
                        
                    </tr>
                    <tr>
                        <td>July</td>
                        
                    </tr>
                    <tr>
                        <td>August</td>
                        
                    </tr>
                    <tr>
                        <td>September</td>
                        
                    </tr>
                    <tr>
                        <td>October</td>
                        
                    </tr>
                    <tr>
                        <td>November</td>
                        
                    </tr>
                    <tr>
                        <td>December</td>
                        
                    </tr>
                    <tr>
                        <td>January</td>
                        
                    </tr>
                    <tr>
                        <td>February</td>
                        
                    </tr>
                    <tr>
                        <td>March</td>
                        
                    </tr>
                    <tr>
                        <td>open balnce Opening open balnce Opening open</td>
                    </tr>
                </tbody>
                    </table>
                </div>
            </div>
        </div> -->










        
<div class="col-md-10">
    <div class="row">
<h1 style="text-align: center;">Ledger</h1>
    </div>
    <div class="row" style="margin-left: 20px!important;margin-top: -20px!important;">
        <div class="col-md-3"></div>
        <label for="" class="control-label col-md-1">From</label>
        <div class="col-md-2">
            <input type="date" style="height: 26px!important;margin-left: -40px!important;" class="form-control">
        </div>
        <label for="" class="control-label col-md-1" style="margin-left: -40px!important;">To</label>
        <div class="col-md-2">
            <input type="date" style="height: 26px!important;margin-left: -40px!important;" class="form-control">
        </div>
    </div>
<div class="row" style="margin-top: 10px!important;">
    <label for="" class="control-label col-md-2">A/c Name</label>
        <div class="col-md-4">
            <input type="text" style="height: 26px!important;margin-left: -60px!important;" class="form-control">
        </div><br><br>
        
        <div class="col-md-2"></div>
    <div class="col-md-4">
        <textarea style="height: 50px!important;width: 335px!important;margin-left: -60px!important;margin-top: -10px!important;border: 1px solid #ced4da;border-radius: 2px;"></textarea> 
    </div>
</div>
<div class="row" style="align-items: center;justify-content: center;justify-items: center;">
    <div class="col-md-2">
        <table  class="table table-striped table-bordered table-sm row-border hover" style="margin-top: 0px;border-right: none;">
            <thead>
              <tr style="font-size: 11px;text-align: center;">
                <th>Month</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Opening Balance</td>
                    
                </tr>
            <tr>
                <td>April</td>
                
            </tr>
            <tr>
                <td>May</td>
                
            </tr>
            <tr>
                <td>June</td>
                
            </tr>
            <tr>
                <td>July</td>
                
            </tr>
            <tr>
                <td>August</td>
                
            </tr>
            <tr>
                <td>September</td>
                
            </tr>
            <tr>
                <td>October</td>
                
            </tr>
            <tr>
                <td>November</td>
                
            </tr>
            <tr>
                <td>December</td>
                
            </tr>
            <tr>
                <td>January</td>
                
            </tr>
            <tr>
                <td>February</td>
                
            </tr>
            <tr>
                <td>March</td>
                
            </tr>
            

        </tbody>
            </table>
        </div>
            <div class="col-md-10">
            <table  class="table table-striped table-bordered table-sm row-border hover" style="margin-top: 0px;border-left: none;margin-left: -25px!important; width: 100%!important;">
                <thead>
                  <tr style="font-size: 11px;text-align: center;">
                    <th>Debits</th>
                    <th>Credits</th>
                    <th>Month Difference</th>
                    <th>Closing Ball(Dr)</th>
                    <th>Closing Ball(Cr)</th>
                    
                    
        
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Opening Balance</td>
                        <td>Opening Balance</td>
                        <td>Opening Balance</td>
                        <td>Opening Balance</td>
                        <td>Opening Balance</td>
                    </tr>
                <tr>
                    <td>Opening Balance</td>
                    <td>Opening Balance</td>
                    <td>Opening Balance</td>
                    <td>Opening Balance</td>
                    <td>Opening Balance</td>
                    
                </tr>
                <tr>
                    <td>Opening Balance</td>
                    <td>Opening Balance</td>
                    <td>Opening Balance</td>
                    <td>Opening Balance</td>
                    <td>Opening Balance</td>
                </tr>
                <tr>
                    <td>June</td>
                    
                </tr>
                <tr>
                    <td>July</td>
                    
                </tr>
                <tr>
                    <td>August</td>
                    
                </tr>
                <tr>
                    <td>September</td>
                    
                </tr>
                <tr>
                    <td>October</td>
                    
                </tr>
                <tr>
                    <td>November</td>
                    
                </tr>
                <tr>
                    <td>December</td>
                    
                </tr>
                <tr>
                    <td>January</td>
                    
                </tr>
                <tr>
                    <td>February</td>
                    
                </tr>
                <tr>
                    <td>March</td>
                    
                </tr>
                <tr>
                    <td>open balnce Opening open balnce Opening open</td>
                </tr>
            </tbody>
                </table>
            </div>
        </div>
</div>
        <div class="col-md-2 butttons" >
            <button type="button">F1: Detailed</button>
            <button type="button">F2: Period</button>
            <button type="button">F3: Company</button>
            <button type="button" style="color: grey;">.</button>
            <button type="button">.</button>
            <button type="button">F6:A/c Name</button>
            <button type="button">F7:Voucherwise</button>
            <button type="button">.</button>
            <button type="button">.</button>
            <button type="button">.</button>
            <button type="button">.</button>
            <button type="button">.</button>
            <button type="button">.</button>
            <button type="button">.</button>
            <button type="button">.</button>
            <button type="button">.</button>
            <button type="button">.</button>
            <button type="button">.</button>
            <button type="button">.</button>
            <button type="button">.</button>
            <button type="button">.</button>
            <button type="button"></button>
            <button type="button">Export</button>

        </div>
    </div>
</div>
