<div class="fluid-container">
    <div class="row">
        <div class="col-md-2">
            <button class="simple" routerLink="/supply-wise" style="padding-top: 0;">Supp. Wise Performance</button>
        </div>
        <div class="col-md-2">
            <button class="simple" routerLink="/purchase-planner" style="padding-top: 0;">Purchase Planner</button>
        </div>
        <div class="col-md-2">
            <button class="simple" (click)="settitle('purchase')" routerLink="/purchase-reg-billwise/1" id="1" style="padding-top: 0;">Purchase Reg Billwise</button>
        </div>
        <div class="col-md-2">
            <button class="simple" routerLink="/purchase-reg-detailed" style="padding-top: 0;">Purchase Reg Detailed</button>
        </div>
    </div>
</div>
