 <div class="container-fluid" style="background-color: #f1f1f1;height: 100vh;">
 <div class="row" style="background-color: #f1f1f1;">
<body>    
   
    <div class="login">    
    <form id="login" method="get" action="login.php" >  
        <h2><b><u>Login</u></b></h2>   
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" id="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" id="Pass" placeholder="Password">    
        <br><br>
        <br><br>    
        <input type="button" name="log" id="log" value="Log In Here">    
  
    </form>     
</div>    
</body>    
</div>
</div>