<div class="fluid-container">
  <div class="row">
    <div class="col-md-2">
      <button class="simple" routerLink="/accmast">Account Master</button>
    </div>
    <div class="col-md-2">
      <button class="simple" routerLink="/acgroup">Account Group</button>
    </div>
    <div class="col-md-2">
      <button class="simple" routerLink="/state">State</button>
    </div>
    <div class="col-md-2">
      <button class="simple" routerLink="/city">City</button>
    </div>
    <div class="col-md-2">
      <button class="simple" routerLink="/location">Location</button>
    </div>
  </div>
</div>
