<div class="fluid-container">
    <div class="row">
        <div class="col-md-2">
            <button class="simple" routerLink="/ledger">Ledger</button>
        </div>
        <div class="col-md-2">
            <button class="simple" routerLink="/trail-balance">Trial Balance</button>
        </div>
        <div class="col-md-2">
            <button class="simple" routerLink="/purchase-analysis-button" style="padding-top: 0;">Purchase Analysis</button>
        </div>
        <div class="col-md-2">
            <button class="simple" routerLink="/sale-analysis">Sale Analysis</button>
        </div>
        <div class="col-md-2">
            <button class="simple" style="padding-top: 0;">Customer Analysis</button>
        </div>
        <div class="col-md-2">
            <button class="simple" style="padding-top: 0;">Inventory Analysis</button>
        </div>
        <div class="col-md-2">
            <button class="simple">Administrative</button>
        </div>
        <div class="col-md-2">
            <button class="simple" style="padding-top: 0;">Accounting Reports</button>
        </div>
    </div>
</div>