<div class="container-fluid">
    <div class="row">
        <div class="col-md-11">
            <h2 style="text-align: center;font-weight: bold;"><u>RECEIPT</u></h2>
            <div class="row header">
                <label for="" class="control-label col-md-1">Date</label>
                <div class="col-md-2">
                    <input type="date" class="form-control">
                </div>
                <label for="" class="control-label col-md-1">Series</label>
                <div class="col-md-2">
                    <input type="text" class="form-control">
                </div>
                <label for="" class="control-label col-md-1">Site</label>
                <div class="col-md-1">
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-1 check">
                    <input type="checkbox">
                </div>
                <label for="" class="control-label col-md-1 check-label">P.D.C</label>
                <label for="" class="control-label col-md-1">Voucher No.</label>
                <div class="col-md-1 voucher">
                    <input type="text" class="form-control">
                </div>
            </div>

            <table class="table table-striped table-bordered table-sm row-border hover" style="margin-top: 20px;">
                <thead>
                    <tr style="font-size: 11px;text-align: center;">
                        <th>Type</th>
                        <th>Party Name</th>
                        <th>Sub A/c</th>
                        <th>Balance</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Narration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="row footer">
                <label for="" class="control-label col-md-2 footer" style="padding-top:3px!important;margin-right: -60px!important;">Common Narration</label>
                <div class="col-md-4 footer">
                    <input type="text" class="form-control">
                </div>
                <div>
                    <label for="" class="control-label col-md-1" style="margin-left: 60px!important;">Total</label>
                    <div class="col-md-3 total-bal">
                        <input type="number">
                        <input type="number">
                    </div>
                </div>
            </div>
            <div class="row footer">
<div class="col-md-8"></div>
<label for="" class="control-label col-md-2" style="padding-top:23px!important;margin-right: -60px!important;margin-left: 50px!important;">Closing Balance</label>
<div class="col-md-2" style="padding-top:20px!important;">
    <input type="number" class="form-control">
</div>
            </div>
        </div>
        <div class="col-md-1 butttons">
            <div class="row">
                <button>RECEIPT</button>
            </div>
            <div class="row">
                <button>PAYMENT</button>
            </div>
            <div class="row">
                <button>JOURNAL</button>
            </div>
            <div class="row">
                <button>CONTRA</button>
            </div>
        </div>
    </div>
    <section class="footer-new">
        <div class="footer-btn">
            <button>Save</button>
            <button>Cancel</button>
            <button>Print</button>
            <button>Prev.</button>
            <button>Next</button>
            <button>New</button>
        </div>
    </section>
</div>