<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <h2 style="text-align: center;"><u>Sale Chart</u></h2>
            </div>
        </div>
        <div class="row">
            <label for="" class="control-label col-md-1">Type</label>
            <div class="col-md-2">
                <select name="" id="" class="form-control">
                    <option value=""></option>
                </select>
            </div>
            <label for="" class="control-label col-md-1">Period</label>
            <div class="col-md-2">
                <select name="" id="" class="form-control">
                    <option value=""></option>
                </select>
            </div>
            <label for="" class="control-label col-md-1">Selection</label>
            <div class="col-md-2">
                <select name="" id="" class="form-control">
                    <option value=""></option>
                </select>
            </div>
            <label for="" class="control-label col-md-1">Filter</label>
            <div class="col-md-2">
                <select name="" id="" class="form-control">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="ag-grid">
                    <ag-grid-angular style="height: 430px;width: 100%;margin-top: 10px!important;"
                        class="ag-theme-balham" [gridOptions]="gridOptions" [rowHeight]="30" headerHeight="40"
                        (gridReady)="onGridReady($event)"
                        (gridSizeChanged)="onGridSizeChanged($event)" [columnDefs]="columnDefs">
                    </ag-grid-angular>
                </div>
            </div>
        </div>
        <div class="row">
            <label for="" class="control-label col-md-2" style="padding-top: 7px!important;">Total</label>
            <div class="col-md-10 total-input">
                <input readonly class="form-control">
                <input readonly class="form-control">
                <input readonly class="form-control">
                <input readonly class="form-control">
                <input readonly class="form-control">
                <input readonly class="form-control">
                <input readonly class="form-control">
                <input readonly class="form-control">
                <input readonly class="form-control">
                <input readonly class="form-control">
                <input readonly class="form-control">
                <input readonly class="form-control">
                <input readonly class="form-control">
            </div>
        </div>
        <section class="footer-lab">
            <div class="container-fluid">
                <div class="row">
                    <div class="footer-select">
                        <div class="col-md-8 text-right footer-btn"
                            style="margin-top: -10px;font-weight: bold;float: left;">
                            <button mat-raised-button class="col-md-2">Close</button>
                            <button mat-raised-button class="col-md-2" style="margin-left: 10px;">Refresh</button>
                            <button mat-raised-button class="col-md-2" style="margin-left: 10px;">Export</button>
                            <button mat-raised-button class="col-md-2" style="margin-left: 10px;">Print</button>
                        </div>
                        <div class="col-md-4"></div>

                    </div>
                </div>
            </div>

        </section>
    </div>
</div>