::ng-deep .sizeAuto-Complete .autocomplete-container .input-container input{
  background-color: white;
  border: 1px solid #ced4da!important;
  width: 250px !important;
  box-shadow: none !important;
  border-radius: 2px!important;
  height: 32px!important;
}
::ng-deep .sizeAuto-Complete .autocomplete-container{
  height: 32px!important;
  width: 250px!important;
  margin-top: 20px!important;
}
.unit-form-box a{
  text-align: left;
}
.unit-form-box a:hover{
  background-color: #5cc6d0;
  color: white;
  
}
.unit-form-box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 20px;
  width: 100%;
}
.form-group label{
  text-align: left;
  margin-top: 27px!important;
}
form input.form-control {
  border-radius: 2px!important;
  border: 1px solid #ced4da;
  width: 250px;
  font-size: 15px !important;
  margin-top: 20px;
  text-transform: capitalize;
}
form label {
text-align: left;
font-family: Inter,"Source Sans Pro",Helvetica,Arial,sans-serif!important;
font-size: 13px!important;
font-weight: 400!important;
}

