<div class="fluid-container">
  <div class="row">
    <div class="col-md-2">
      <button class="simple" routerLink="/unitmaster"  >Unit Master</button>
    </div>
    <div class="col-md-2">
      <button class="simple" routerLink="/unitconv" >Unit Conversion</button>
    </div>
    <div class="col-md-2">
      <button class="simple" routerLink="/shape">Shape</button>
    </div>
    <div class="col-md-2">
      <button class="simple" routerLink="/colour">Colour</button>
    </div>
    <div class="col-md-2">
      <button class="simple"  routerLink="/clarity" >Clarity</button>
    </div>
    <div class="col-md-2">
      <button class="simple" routerLink="/gcode">Group Code</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button class="simple" routerLink="/igroup">Item Group</button>
    </div>
    <div class="col-md-2">
      <button class="simple" routerLink="/category">Item Category</button>
    </div>
    <div class="col-md-2">
      <button class="simple" routerLink="/itemmaster">Item Master</button>
    </div>
    <div class="col-md-2">
      <button class="simple" routerLink="/stamp">Stamp</button>
    </div>
    <div class="col-md-2">
      <button class="simple" routerLink="/size">Size</button>
    </div>
  </div>
</div>





