.mat-dialog-container {
    padding: 0px !important;
  }
  
  ::ng-deep .mat-dialog-container {
    padding: 0px !important;
    background-color: white;
    width: 580px !important;
    overflow: hidden !important;
  }
  
  ::ng-deep button:focus {
    outline: none !important;
  }
::ng-deep .ember-view:focus {
    outline: none !important;
  }
 
.unit-form-box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 20px;
    width: 100%;
  }
.form-group label{
    text-align: left;
    margin-top: 28px!important;
    font-family: Inter,"Source Sans Pro",Helvetica,Arial,sans-serif;
    font-weight: 400!important;
    font-size: 13px!important;
}
form input.form-control {
    border-radius: 2px!important;
    border: 1px solid #ced4da!important;
    width: 250px;
    font-size: 13px !important;
    margin-top: 20px;
    text-transform: capitalize;

  }
  form label {
  text-align: left;
}
