.mat-dialog-container {
  padding: 0px !important;
}

::ng-deep .mat-dialog-container {
  padding: 0px !important;
  background-color: white;
  width: 580px !important;
  overflow: hidden !important;
}

::ng-deep button:focus {
  outline: none !important;
}
::ng-deep .ember-view:focus {
  outline: none !important;
}

.unit-form-box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 20px;
  width: 100%;
}
.form-group label{
  text-align: left;
  margin-top: 23px!important;
}
form input.form-control {
  border-radius: 2px!important;
  border: 1px solid #ced4da!important;
  width: 250px;
  font-size: 13px !important;
  margin-top: 20px;
  text-transform: capitalize;
}
form label {
text-align: left;
font-family: Inter,"Source Sans Pro",Helvetica,Arial,sans-serif!important;
font-size: 13px!important;
font-weight: 400!important;
}
::ng-deep .ng-state .autocomplete-container .input-container input {
  /* background-color: #f6f6f6 !important; */
  border: 1px solid #ced4da!important;
  height: 34px !important;
  box-shadow: none!important;
  width: 250px!important;
  margin-top: 15px!important;
  margin-top: 0px!important;
  border-radius: 2px!important;
}

::ng-deep .ng-state .autocomplete-container {
  height: 34px !important;
  box-shadow: none!important;
  width: 250px!important;
  margin-top: 15px!important;
}
.unit-form-box a{
  text-align: left;
}
.unit-form-box a:hover{
  color: white;
  background-color: #5cc6d0;
}